/* Default Layout */
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: rgb(104, 170, 201);
    color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

header nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    list-style: none;
    padding-left: 0;
}

.Header {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
}

li {
    margin: 10px 0;
    text-align: left;
}

/* Content Styles */
.Content {
    margin-left: 200px; /* Adjust this based on the width of the navbar */
    padding-top: 120px;
    width: 600px;
    height: auto;
    margin-bottom: 50px;
    padding-left: 20px;
}

/* Image in the container */
.container img {
    width: 400px;
    height: 400px;
    margin-left: 310px;
    border-radius: 20px;
}

/* Media Queries */

/* Up to 1030px */
@media (max-width: 1030px) {
    header {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 0;
    }

    .Header {
        padding: 20px;
    }

    li {
        margin: 0 15px;
    }

    .Content {
        margin-left: 0;
        width: 100%;
        padding-top: 40px;
    }

    .container img {
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }
}

/* Up to 900px (Ipad Air) */
@media (max-width: 900px) {
    header {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 0;
    }

    .Content {
        margin-left: 0;
        width: 100%;
        padding-top: 40px;
    }

    .container img {
        width: 300px;
        height: 300px;
        margin-left: 20px;
    }

    li {
        margin: 0 15px;
    }

    .Content h2 {
        font-size: 45px;
    }

    .Content p {
        font-size: 25px;
        padding-top: 10px;
    }
}

/* Up to 800px (Ipad Mini) */
@media (max-width: 800px) {
    header {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-top: 0;
    }

    .Content {
        margin-left: 0;
        width: 100%;
        padding-top: 40px;
    }

    .container img {
        width: 250px;
        height: 250px;
        margin-left: 20px;
    }

    li {
        margin: 0 15px;
    }

    .Content h2 {
        font-size: 40px;
    }

    .Content p {
        font-size: 22px;
        padding-top: 15px;
    }
}

/* Up to 500px (Iphone XR, Iphone 14) */
@media (max-width: 500px) {
    header {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 10px;
    }

    .Content {
        margin-left: 0;
        width: 100%;
        padding-top: 40px;
    }

    .container img {
        width: 200px;
        height: 200px;
        margin-left: 20px;
    }

    li {
        margin: 0 15px;
    }

    .Header {
        padding: 10px;
        text-align: center;
    }

    .Content h2 {
        font-size: 35px;
    }

    .Content p {
        font-size: 20px;
    }
}

/* Up to 400px (Iphone 12) */
@media (max-width: 400px) {
    .container img {
        margin-left: 20px;
    }

    .Content {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 50px;
    }

    .Content h2 {
        font-size: 30px;
    }

    .Content p {
        font-size: 16px;
        padding-top: 50px;
    }
}
