* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 20px 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
}

header {
    position: fixed; /* Navbar menempel di sisi layar */
    top: 0;
    left: 0;
    background-color: rgb(104, 170, 201);
    color: white;
    height: 100vh; /* Tinggi penuh layar */
    width: 200px; /* Lebar sidebar */
    display: flex;
    flex-direction: column; /* Menyusun item secara vertikal */
    align-items: center;
    z-index: 1000; /* Memastikan navbar berada di atas elemen lainnya */
}

.Header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid white;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    width: 100%; /* Memastikan link memenuhi lebar sidebar */
}

nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
}

body {
    margin-left: 200px; /* Memberi ruang untuk sidebar */
    background-image: url(white_aesthetic_wavy_lines_background_hd_white_aesthetic.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.Judul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.Container {
    width: 800px;
    height: 500px;
    background-color: rgb(104, 170, 201);
    margin: 200px auto; /* Membuat elemen ini berada di tengah secara horizontal */
    border-radius: 2ex;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-detail {
    font-size: 40px;
    padding-top: 20px;
}

h1 {
    padding-top: 15px;
}

header nav li::after {
    content: '';
    width: 0%;
    height: 5px;
    transition: .5s;
}

header nav li:hover::after {
    content: '';
    width: 70%;
    background-color: #ffffff;
    border-radius: 10px;
}
