* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header li {
    list-style-type: none;
    margin: 20px 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 20px;
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    background-color: rgb(104, 170, 201);
    color: white;
    height: 100vh; 
    width: 200px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.Header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid white;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
}

body {
    margin-left: 200px; 
    background-image: url(white_aesthetic_wavy_lines_background_hd_white_aesthetic.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    padding: 20px;
}

.Content h1, 
.Content h2, 
.Content p {
    margin-right: 30px; 
}

.Content img {
    border-radius: 5ex;
    max-width: 60%; 
    margin-left: 20px; 
}

header nav li::after {
    content: '';
    width: 0%;
    height: 5px;
    transition: .5s;
}

header nav li:hover::after {
    content: '';
    width: 70%;
    background-color: #ffffff;
    border-radius: 10px;
}
